<a href="https://u201726085.github.io/OpenSourceGrupo4/" class=" back-arrow ">
  <mat-icon>arrow_back</mat-icon>
  <p>Back</p>
</a>

<mat-card class="card">
  <mat-card-content>
    <div class="header">
      <h1>Create an account</h1>
    </div>
    <form (ngSubmit)="onRegister()" name="registerForm" [formGroup]="registerForm">

      <div class="first-name-input">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Name</mat-label>
          <input formControlName="name" matInput required/>
          <mat-error *ngIf="registerForm.get('name')?.errors?.required">
            Name is required
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Username</mat-label>
          <input formControlName="username" matInput required/>
          <mat-error *ngIf="registerForm.get('username')?.errors?.required">
            Username is required
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Age</mat-label>
          <input type="number" formControlName="age" matInput required/>
          <mat-error *ngIf="registerForm.get('age')?.errors?.required">
            Age is required
          </mat-error>
          <mat-error *ngIf="registerForm.get('age')?.errors?.min">
            You must be at least 10 years old
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput required/>
          <mat-error *ngIf="registerForm.get('email')?.errors?.required">
            Email is required
          </mat-error>
          <mat-error *ngIf="registerForm.get('email')?.errors?.email">
            Email introduced is not valid
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" required/>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="registerForm.get('password')?.errors?.required">
            Password is required
          </mat-error>
          <mat-error *ngIf="registerForm.get('password')?.errors?.minLength">
            password must be at least 8 characters
          </mat-error>
        </mat-form-field>
      </div>

      <mat-form-field class="full-width" appearance="outline">
        <mat-select formControlName="interestId" placeholder="Interest">
          <ng-container *ngFor="let interest of interests">
            <mat-option value="{{interest.id}}">{{interest.title}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>

      <div>
        <mat-radio-group formControlName="user_type" class="radio-group">
          <mat-radio-button value="Advised" checked>Advised</mat-radio-button>
          <mat-radio-button value="Advisor">Advisor</mat-radio-button>
        </mat-radio-group>
      </div>

      <div *ngIf="registerForm.controls['user_type'].value === 'Advisor'">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Years of experience</mat-label>
          <input matInput type="number" required formControlName="years_experience"/>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-select formControlName="professionId" placeholder="Profession">
            <ng-container *ngFor="let profession of professions">
              <mat-option value="{{profession.id}}">{{profession.name}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="buttons">
        <button class="button">Register</button>
        <button class="secondary-button" (click)="onLogin()">Login</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>




