<div>
  <div class="center">
    <div *ngIf="!submitted" class="size">
      <mat-card>
        <mat-card-title>New Post</mat-card-title>
        <mat-card-content>
          <div>
            <mat-label>Image</mat-label><br>
            <div class="center">
              <img src="{{images[0]}}" style="max-height: 100%">
            </div>
            <div>
              <input type="file" name="img" (change)="uploadImage($event)" id="inputFile">
            </div>
            <br><br>
          </div>
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input required matInput placeholder="Title" required [(ngModel)]="footWear.name" name="name">
          </mat-form-field><br>
        </mat-card-content>
        <mat-card-actions class="right">
          <button mat-button class="rounded red" routerLink="/home/generator">Cancel</button>
          <button mat-button (click)="saveFootWear()" class="rounded green">Public</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="center">
      <div *ngIf="submitted">
        <mat-card>
          <mat-card-title>Top was submitted successfully!</mat-card-title>
          <mat-card-actions class="right">
            <button mat-button class="green" (click)="newFootWear()" routerLink="/home/generator">OK</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>

