<div>
  <div *ngIf="currentFashion.id" class="edit-form">
    <h4 class="beg-text">Fashion</h4>
    <form>
      <div class="form-group sec-text">
        <label for="name"><strong>Name</strong></label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="currentFashion.name"
          name="name"/>
      </div>
    </form>

    <button class="btn btn-light wb2" (click)="deleteFashion()">Delete</button>

    <button
      type="submit"
      class="btn btn-light wb2"
      (click)="updateFashion()">Update</button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentFashion.id">
    <br />
    <p>Not found</p>
  </div>
</div>

