<div>

  <div>
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%"
           *ngFor="let outfit of outfits; let i = index" [class.active]="i == currentIndex">
        <mat-card>
          <mat-card-title>{{outfit.name}}</mat-card-title>
          <img mat-card-image src="{{outfit.img}}">
          <mat-card-content>
            <span>{{outfit.description}}</span>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
