
.rounded{
  border-radius: 50px!important;
  color: white;
}
.green{
  background-color: #002C3E;
}
.red{
  color: black;
  border: 1px solid #002C3E;
  background: transparent;
}
.size{
  width: 75%;
}
.center {
  display: flex;
  margin-top: 200px;
  height: 400px;
  justify-content: center;
  align-items: center;
}
.right{
  display: flex;
  height: auto;
  justify-content: right;
  align-items: center;
}

.Image{
  text-align: center;
  height: 500px;
  width: 100%;
  margin-top: 40px;
  object-fit: cover;
  object-position: 50% 10%;
}
