
<!-- Toolbar -->
<mat-toolbar class="toolbar">
  <span>Raze</span>
  <span class="example-spacer"></span>

  <!-- App Options -->
  <div class="mat-spacer"></div>
  <a mat-button routerLink="posts" >Home</a>
  <a mat-button routerLink="manager" >Outfits</a>
  <a mat-button routerLink="outfit-types" >Outfit Types</a>
  <a mat-button routerLink="interests" >Interests</a>
  <a mat-button routerLink="fashions" >Fashions</a>
</mat-toolbar>
<div class="content-body">
  <router-outlet></router-outlet>
</div>
