<div>
  <div class="center">
    <div *ngIf="!submitted" class="size">
      <mat-card>
        <mat-card-title>New Post</mat-card-title>
        <mat-card-content>
          <div>
            <mat-label>Image</mat-label><br>
            <input type="file" [(ngModel)]="post.img" name="img"><br><br>
          </div>
          <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input required matInput placeholder="Title" required [(ngModel)]="post.title" name="title">
          </mat-form-field><br>
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input required matInput placeholder="Description" [(ngModel)]="post.description" name="description">
          </mat-form-field><br>
          <mat-form-field appearance="outline">
            <mat-select [(ngModel)]="post.outfitId" placeholder="Outfit">
              <ng-container *ngFor="let outfit of outfits">
                <mat-option value="{{outfit.id}}">{{outfit.name}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions class="right">
          <button mat-button class="rounded red" routerLink="/posts">Cancel</button>
          <button mat-button (click)="saveTutorial()" class="rounded green">Public</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="center">
      <div *ngIf="submitted">
        <mat-card>
          <mat-card-title>Tutorial was submitted successfully!</mat-card-title>
          <mat-card-actions class="right">
            <button mat-button class="green" (click)="newPost()" routerLink="/posts">OK</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
