
.rounded{
  border-radius: 50px!important;
}
.green{
  background-color: #002C3E;
  color: #FFFFFF;
}
.red{
  color: black;
  border: 1px solid #002C3E;
  background: transparent;
}
.size{
  width: 75%;
}
.center {
  display: flex;
  height: 400px;
  justify-content: center;
  align-items: center;
}
.right{
  display: flex;
  height: auto;
  justify-content: right;
  align-items: center;
}
