
.rounded{
  border-radius: 50px!important;
}
.green{
  background-color: #002C3E;
  color: #FFFFFF;
}
.red{
  color: black;
  border: 1px solid #002C3E;
  background: transparent;
}
.size{
  width: 75%;
  max-height: 50%;
}
.center {
  display: flex;
  height: 400px;
  justify-content: center;
  align-items: center;
}
.right{
  display: flex;
  height: auto;
  justify-content: right;
  align-items: center;
}
#inputFile{
  display: none;
}
.labelInputFile{
  padding: 4px;
  margin: 4px;
  background-color: #e22c2c;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
