<div>
  <div class="center">
    <div *ngIf="!submitted" class="center size">
      <mat-card style="width: 70%">
        <mat-card-title>New Post</mat-card-title>
        <mat-card-content>

          <div>
            <mat-label>Image</mat-label><br>
            <div class="">
              <img class="Image" src="{{images[0]}}" style="max-height: 100%">
            </div>
            <div>
              <input type="file" name="img" (change)="uploadImage($event)" id="inputFile">
              <label for="inputFile" class="labelInputFile">Choose Image</label>
            </div>
            <br><br>

          </div>

          <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input required matInput placeholder="Title" required [(ngModel)]="post.title" name="title">
          </mat-form-field><br>
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input required matInput placeholder="Description" [(ngModel)]="post.description" name="description">
          </mat-form-field><br>
          <mat-form-field appearance="outline">
            <mat-select [(ngModel)]="post.outfitId" placeholder="Outfit">
              <ng-container *ngFor="let outfit of outfits">
                <mat-option value="{{outfit.id}}">{{outfit.name}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions class="right">
          <button mat-button class="rounded red" routerLink="/home/posts">Cancel</button>
          <button mat-button (click)="saveTutorial()" class="rounded green">Public</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="center">
      <div *ngIf="submitted">
        <mat-card>
          <mat-card-title>Tutorial was submitted successfully!</mat-card-title>
          <mat-card-actions class="right">
            <button mat-button class="green" (click)="newPost()" routerLink="/home/posts">OK</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
