<div>
  <div>
    <div class="center">
      <input class=" form-control rounded size" type="text" placeholder="Search by title" [(ngModel)]="name"/>

      <button mat-icon-button (click)="searchTitle()">
        <mat-icon>search</mat-icon>
      </button>
    </div>
    <div class="center">
      <button mat-icon-button routerLink="/home/{{currentUserId}}/addOutfit" class="button">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <div>
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let outfit of outfits; let i = index" [class.active]="i == currentIndex"
           (click)="setActiveTutorial(outfit, i)">
        <mat-card style="height: 516px">
          <mat-card-title>{{outfit.name}}</mat-card-title>
          <img class="Image" src="{{outfit.img}}">
          <mat-card-content>
            <span>{{outfit.description}}</span>
          </mat-card-content>
          <mat-card-actions class="right">
            <button mat-icon-button routerLink="/home/{{currentUserId}}/outfit/{{ outfit.id}}">
              <mat-icon>edit</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
