
<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let outfitType of outfitTypes">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title> {{outfitType.title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{outfitType.urlToImage}}">
        <mat-card-content>
          <p>
           {{outfitType.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button class="button" (click)="openDialog()">VIEW MORE</button>

        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
