<div>
  <div>
    <div class="center">
      <div>
        <img class="my-avatar" src="{{user.imgProfile}}" alt="">
      </div>
    </div>
    <div class="center">
      <div>
        <h2>UserName: {{user.username}}</h2>
        <h3>Name: {{user.name}}</h3>
      </div>
    </div>
    <div class="center">
      <app-calendar></app-calendar>
    </div>
  </div>
  <br>
  <div>
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let post of posts; let i = index" [class.active]="i == currentIndex"
           (click)="setActiveTutorial(post, i)">
        <mat-card>
          <mat-card-title class="card-title">{{post.title}}</mat-card-title>
          <img class="Image" src="{{post.img}}">
          <mat-card-content>
            <span>{{post.description}}</span>
          </mat-card-content>
          <mat-card-actions class="right">
            <button mat-icon-button routerLink="/home/post/{{ post.id }}">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-button class="rounded green button">
              Contact
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
