<a href="https://u201726085.github.io/OpenSourceGrupo4/" class=" back-arrow ">
  <mat-icon>arrow_back</mat-icon>
  <p>Back</p>
</a>

<mat-card class="card">
  <mat-card-content>
    <div class="header">
      <h1>Login</h1>
    </div>
    <form (ngSubmit)="onLogin()" name="loginForm" [formGroup]="loginForm">
      <div class="email-input">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput required/>
          <mat-error *ngIf="loginForm.get('email')?.errors?.required">
            Required email address
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" required/>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="loginForm.get('password')?.errors?.required">
            Required password
          </mat-error>
        </mat-form-field>
      </div>
      <div class="buttons">
        <button class="button" type="submit">Login</button>
        <button class="secondary-button" (click)="onRegister()">Register</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>



