.submit-form {
  max-width: 400px;
  margin: auto;
}
.addbtn{
  margin-left: 25%;
}
.confirmation-text{
  text-align: center;
}
.title-css{
  margin-top: 20%;
}
.add-new{
  text-align: center;
}
.btn-light{
  background-color: #002C3E;
  color: #FFFFFF;
  margin-left: 20%;
  margin-top: 10px;
}
.btn-light-2{
  background-color: transparent;
  border: #002C3E;
  color: black;
  margin-left: 20%;
  margin-top: 10px;
}
.continue-btn{
  margin-left: 50%;
  transform: translateX(-50%);
}
