<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group title-css">
        <h4 class="add-new">New Fashion</h4><br>
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          [(ngModel)]="fashion.name"
          name="name"/>
      </div>

      <button (click)="saveFashion()" class="btn btn-light">Save</button>
      <a routerLink="/home/{{currentUserId}}/fashions" class="btn btn-light-2">Cancel</a>
    </div>

    <div *ngIf="submitted">
      <br>
      <h4 class="confirmation-text">New fashion was submitted successfully!</h4>
      <br>
      <a  class="btn btn-light continue-btn" routerLink="/home/{{currentUserId}}/fashions">Continue</a>
    </div>
  </div>
</div>
